<div class='row'>
  <div class='small-12 medium-6 columns'>
    <h1>Today I Learned (TIL)</h1>
  </div>
</div>

<div class='row'>
  <div class="small-10 columns medium-6 columns">
    <%= link_to "Submit a new learning", new_learning_path %><br>
  </div>

  <div class='small-2 medium-2 columns'>
    <div class='bottom-margin'>
      <%= form_tag(learnings_path, method: :get) do %>
        <%= hidden_field_tag 'sort', 'my_learning' %>
        <%= submit_tag 'My Learnings', class:'button tiny radius round', id:'drop' %>
      <% end %>
    </div>
  </div>
</div>


<div class='row'>
</div>
    <ol>
      <% @learnings.each do |learning| %>
      <div class='row'>

        <div class='small-2 columns'>
          <li class='make_inline'>
            <% if user_signed_in? %>
              <% if learning.has_vote_from?(current_user) %>
                 <%= button_to "#{learning.votes_count} unlike", learning_vote_path(learning, learning.vote_from(current_user)), method: :delete, class:"button tiny primary" %>
              <% else %>
                <%= button_to "#{learning.votes_count} like", learning_votes_path(learning), class:"button tiny primary" %>
              <% end %>
            <% else %>
            <%= link_to "#{learning.votes_count} like","#", "data-reveal-id" => 'myModal', class:"button tiny primary" %>
            <% end %>
          </li>
        </div>

        <div class='small-10 columns'>
            <%= link_to learning.title, learning_path(learning), class:'voting_margins' %>
        </div>
      </div>
      <% end %>
    </ol>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
  <div class='row'>
    <div class='small-12 columns'>
      <p>you'll need to login or register to do that</p>
      <div class='row'>
        <div class='small-6 columns'>
          <%= render 'partials/signin' %>
        </div>
        <div class='small-6 columns'>
          <%= render 'partials/signup' %>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
