<div class='row'>
  <div class='small-12 medium-6 columns'>
    <h1>TIL</h1>
  </div>
</div>
<div class='row'>
  <div class="small-10 columns medium-10 columns">
    <%= link_to "Submit a new learning", new_learning_path %><br>
  </div>
</div>


<div class='row'>
  <div class='small-12 columns'>
    <%= form_tag(learnings_path, method: :get) do %>
      <%= hidden_field_tag 'sort', 'my_learning' %>
      <%= submit_tag 'My Learnings' %>
    <% end %>
    <%= form_tag(learnings_path, method: :get) do %>
      <%= hidden_field_tag 'sort', 'rank' %>
      <%= submit_tag 'Rank' %>
<<<<<<< HEAD
=======
    <% end %>
    <% @learnings.each do |learning| %>
      <div><%= learning.votes_count %></div>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='small-1 columns'>
            <% if user_signed_in? %>
              <% if learning.has_vote_from?(current_user) %>
                <%= button_to 'unlike', learning_vote_path(learning, learning.vote_from(current_user)), method: :delete %>
              <% else %>
                <%= button_to 'like', learning_votes_path(learning) %>
              <% end %>
            <% else %>
              <a href='#' data-reveal-id='myModal' class='tiny radius button'>like</a>
            <% end %>
          </div>
          <div class='small-11 columns'>
            <%= link_to learning.title, learning_path(learning) %>
          </div>
        </div>
      </div>
>>>>>>> 74569e8ae927f8966fe0b1726d8e7040a49826d3
    <% end %>
    <ol>
      <% @learnings.each do |learning| %>
          <div><%= learning.votes_count %></div>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='small-1 columns'>
              <% if user_signed_in? %>
                <% if learning.has_vote_from?(current_user) %>
                  <%= button_to 'unlike', learning_vote_path(learning, learning.vote_from(current_user)), method: :delete %>
                <% else %>
                  <%= button_to 'like', learning_votes_path(learning) %>
                <% end %>
              <% else %>
                <a href='#' data-reveal-id='myModal' class='tiny radius button'>like</a>
              <% end %>
            </div>
            <div class='small-11 columns'>
              <li>
                <%= link_to learning.title, learning_path(learning) %>
              </li>
            </div>
          </div>
        </div>
      <% end %>
    </ol>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
  <div class='row'>
    <div class='small-12 columns'>
      <p>you'll need to login or register to do that</p>
      <div class='row'>
        <div class='small-6 columns'>
          <%= render 'partials/signin' %>
        </div>
        <div class='small-6 columns'>
          <%= render 'partials/signup' %>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
