<div class='row'>
  <div class="small-12 columns medium-10 columns">
    <h1><%= pluralize(Group.all.count,'Study Group')%></h1>
  </div>
</div>

<div class='row'>
  <div class="small-10 columns medium-10 columns">
    <%= link_to "Create New Group", new_group_path %><br>
  </div>

  <div class="small-2 medium-2 columns">
    <a data-dropdown="hover1" data-options='is_hover:true' class="tiny alert round button dropdown">Sort By</a><br>
    <ul id="hover1" class="f-dropdown" data-dropdown-content>
      <li>
        <%= form_tag(groups_path, method: :get) do %>
          <%= hidden_field_tag 'sort', 'most_users' %>
          <%= submit_tag "Most Users" %>
        <% end %>
      </li>
      <li>
        <%= form_tag(groups_path, method: :get) do %>
          <%= hidden_field_tag 'sort', 'least_users' %>
          <%= submit_tag "Least Users" %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="small-2 medium-2 columns">
    <label>Sort by Tutorial</label>
      <%= form_tag(groups_path, method: :get) do %>
        <%= select_tag(:tutorial, options_from_collection_for_select(Tutorial.all, :id, :name)) %>
        <%= submit_tag "Sort" %>
      <% end %>
  </div>
</div>

<div class="row" style="margin-left:10px">
  <% @groups.each do |group| %>
    <div class='small-12 columns groups'>
      <div class='small-2 columns'>
        <%= image_tag group.tutorial.image_url(:thumb) if group.tutorial.image? %>
      </div>
      <div class='small-2 columns'>
        <%= "#{group.users_in_group} / #{group.size}" %>
      </div>
      <div class='small-6 columns'>
        <%= link_to group.name, group_path(group), class: 'group_name' %>
      </div>
      <div class='small-2 columns'>
        <b>Last Active</b> <%= group.updated_at.strftime('%I:%M %p, %b %e') %>
      </div>
    </div>
  <% end %>
</div>
