<h1> Create New Group </h1>

<% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@group) do |f| %>
  <div class='row'>
    <div class="small-4 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class='row'>
    <div class="small-4 columns">
      <%= f.label :size %>
      <%= f.number_field :size, in: 1..12 %>
    </div>
  </div>

  <div class='row'>
    <div class="small-4 columns">
      <%= f.label :tutorial_id %>
      <%= f.collection_select :tutorial_id, Tutorial.all, :id, :name,
                   { :include_blank => 'Please select' } %>
    </div>
  </div>

  <div>
    <%= f.submit 'Create group', class: 'Create group' %>
  </div>
<% end %>
