<h1> Create New Group </h1>

<% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@group) do |f| %>
  <%= f.input :name %>
  <%= f.input :size %>
  <%= f.input :tutorial_id, collection: Tutorial.all, prompt: 'Please select'%>
  <%= f.button :submit, label: 'Create group' %>
<% end %>
