<h1> Create New Group </h1>

<% if @group.errors.any? %>
  <ul>
    <% @group.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@group) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :tutorial_id %>
    <%= f.collection_select :tutorial_id, Tutorial.all, :id, :name,
                 { :include_blank => 'Please select' } %>
  <div>
    <%= f.submit "Create group", id: 'blah' %>
  </div>
<% end %>
