<h1><%= @group.name %></h1>
<%= @group.tutorial.name %>

<% if @group.users.include?(current_user) %>
  <%= link_to 'Leave Group', membership_leave_path(@group) %>
<% else %>
  <% if @group.users.count >= @group.size %>
    <%= '| Full Group' %>
  <% else %>
    <%= link_to 'Join Group', membership_join_path(@group) %>
  <% end %>
<% end %>

<ul class="group-member-list">
  <% @group.users.each do |user| %>
    <%= gravatar_for user %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<% if @group.users.include?(current_user) %>
<ul class="post-list">
  <%= link_to "Create Post", new_posts_path(@group) %>
</ul>
<% end %>

<ul class="individual-post">
  <% @group.posts.each do |post| %>
    <h3><%= link_to post.title, post_path(post) %></h3>
  <% end %>
</ul>
