<h1><%= @group.name %></h1>
<%= @group.tutorial.name %>


<% if @group.users.include?(current_user) %>
  <%= link_to 'leave', group_leave_path(@group) %>
<% else %>
  <%= link_to 'join', group_join_path(@group) %>
<% end %>

<% @group.users.each do |user| %>
  <h3><%= user.email %></h3>
<% end %>
