<div class="row">
  <div class= 'large-10 columns'>
    <h3><%= @group.name %><span class='tutorial-name'> - <%= @group.tutorial.name %></span></h3>
  </div>
  <div class='large-2 columns' style='margin-top:10px;'>
    <p></p>
  </div>
</div>

<div class='row'>
  <% if @group.users.include?(current_user) %>
    <%= button_to 'Leave Group', group_membership_path(@group, current_user), method: :delete %>
  <% else %>
    <% if @group.users.count >= @group.size %>
      <%= '| Full Group' %>
    <% else %>
      <%= button_to "Join Group", group_memberships_path(@group), method: :post %>
    <% end %>
  <% end %>

  <div class='row'>
    <div class='small-1 columns side'>
      <ul class="side-nav group-member-list">
        <% @group.users.each do |user| %>
          <%= gravatar_for user %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    </div>

    <div class='small-10 columns'>
      <% if @group.users.include?(current_user) %>
        <ul class="post-list">
          <%= link_to "Create Post", new_posts_path(@group) %>
        </ul>
      <% end %>
      <ul class="individual-post">
        <% @posts.each do |post| %>
          <h3><%= link_to post.title, post_path(post) %></h3>
        <% end %>
      </ul>
    </div>
  </div>
</div>
