<div id='headerwrap' class='small-12 columns'>
  <div class='row'>
    <div class='small-12 columns'>
      <h3>Learn _____</h3>
      <h3>better, together</h3>
    </div>
  </div>
</div>

<div class='row'>
  <div class='small-3 columns offset-6 columns'>
    <%= simple_form_for('user', url: user_registration_path) do |f| %>
      <%= f.input :email, label: false, placeholder: 'Your Email' %>
      <%= f.input :password, label: false, placeholder: 'Password' %>
      <%= f.input :password_confirmation , label: false, placeholder: 'Password Confirmation' %>

      <%= f.submit 'Sign up' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='small-10 columns small-offset-2 columns'>
    <h3>Why Pair Studying</h3>
    <p>Studying in groups helps students learn more effectively -<b>Washington University</b></p>
    <p>Reseachers report that students learn best when they are actively involved in the process -<b>Berkeley University</b></p>
  </div>
</div>
