<div class='row' style=>
  <h3 style="text-align: center; margin-top:15px">New Posts</h3>
</div>

<div class='row' style="align:center;">
  <div class="small-12 medium-6 columns">
    <%= simple_form_for(@post) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :tag_list %>

        <%= f.submit 'Post' %>
    <% end %>
    </div>
</div>
