<%= link_to "Back to Group", group_path(@post.group) %>
<div class="row">
  <div class="large-10 columns"><h1><%= @post.title %></h1></div>
</div>
<div class="row">
  <div class="large-10 columns"><h2><%= @post.description %></h2></div>
</div>
<br>

<% if @post.comments == [] %>
  <p>No answers yet<p>
<% else %>
  <h3> Comments </h3>

  <% @post.comments.each do |comment| %>
    <div class="row">
      <div class="small-2 columns"><%= comment.user.email %></div>
      <div class="small-10 columns"><%= comment.answer %></div>
      <br>
    </div>
  <% end %>
      <br>
<% end %>

<%= form_for([@post, @comment]) do |f| %>
  <form>
    <div class="row">
      <div class="large-12 columns">
        <label><%= f.label :answer, "Your Answer" %></label>
        <div class='small-6 columns'>
          <%= f.text_field :answer %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Post Your Answer' %>
    </div>
  </form>
<% end %>
