<div class="row" style="text-align:right; margin-right:5px">
  <%= link_to "Back to Group", group_path(@post.group) %>
</div>
<div class="row">
  <div class="small-8 small-offset-1 columns has-tip"><h4><b><%= @post.title %></b></h4></div>
</div>
<div class="row">
  <div class="small-8 small-offset-1 columns"><%= @post.description %></div>
</div>
<br>

<div class='row'>
  <div class='small-8 small-offset-1 columns'>
    <% if @post.comments == [] %>
      <p>No answers yet<p>
    <% else %>
      <h4><%= pluralize("#{@post.comments.count}", 'Answer')%></h4>
  </div>
</div>

  <% @post.comments.each do |comment| %>
    <div class="row">
      <div class="small-8 small-offset-1 columns"><%= comment.answer %></div>
      <div class="small-3 columns">
        <%= comment.user.email %>
      </div>
    </div>
  <% end %>
<% end %>

<%= form_for([@post, @comment]) do |f| %>
  <div class="row" >
    <div class='small-8 small-offset-1 columns' id='form-styling'>
      <%= f.label :answer, "Your Answer" %>
      <%= f.text_field :answer %>
      <div class="actions">
        <%= f.submit 'Post Your Answer' %>
      </div>
    </div>
  </div>
<% end %>
