<!DOCTYPE html>
<html>
<head>
  <title>Studygroup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, confirm: "Are you sure?", class: 'sign_out_user', value: 'Sign out' %>
  <% end %>

  <% flash.each do |name, msg| %>
    <div data-alert class="alert-box">
      <%= msg %>
      <a href= "#" class="close">&times;</a>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
